{% load static %} {% include 'home/base.html' %}
<head>
  <link rel="stylesheet" href="{% static 'facts/facts.css' %}" />
</head>
{% block content %}
<div class="content-container">
  <p class="fact">Did you know that, {{fact}}</p>
  <div class="buttons">
    <a href="{% url 'facts:cat_facts' %}" class="another-fact-button"
      >I want another fact</a
    >
    <a href="{% url 'home:home' %}" class="go-back-home-button"
      >I want to go back</a
    >
  </div>
  <p class="disclaimer-message">
    Sorry if you get something that can be explain, i don't control what people
    submit to the API, lol
  </p>
</div>
{% endblock %}
